$background-color_1: whitesmoke;

/*medias*/
* {
	margin: 0;
	padding: 0;
}
body {
	background-color: $background-color_1;
}
header {
	margin: 20px;
	border-bottom: 2px solid blueviolet;
	grid-area: header;
}

main {
	margin: 20px;
	padding: 20px;
	border-bottom: 2px solid blueviolet;

	.titulo {
		padding-top: 15px;
		text-align: center;
		grid-area: titulo;
	}
	
	.container__slider{
		max-width: 900px;
		height: 500px;
		margin: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 30px 10px;
	}

	input[type=radio]{
		display: none;
	}

	.container{
		width: 100%;
		max-width: 700px;
		height: 100%;
		max-height: 400px;
		transform-style: preserve-3d;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.cards{
		position: relative;
		width: 100%;
		height: 100%;

	}

	.card{
		position: absolute;
		width: 60%;
		height: 60%;
		left: 0;
		right: 0;
		margin: auto;
		cursor: pointer;
		transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1 );
	}

	.imgCard{
		width: 100%;
		height: 100%;
		border-radius: 10px;
		-o-object-fit: cover;
		object-fit: cover;
	}

	#item-2:checked ~ .cards #selector-1,
	#item-1:checked ~ .cards #selector-3,
	#item-3:checked ~ .cards #selector-2{
    transform: translateX(-40%) scale(0.8);
    opacity: 0.6;
    z-index: 0;
	}

	#item-3:checked ~ .cards #selector-1,
	#item-1:checked ~ .cards #selector-2,
	#item-2:checked ~ .cards #selector-3{
    transform: translateX(40%) scale(0.8);
    opacity: 0.6;
    z-index: 0;
	}

	#item-1:checked ~ .cards #selector-1,
	#item-2:checked ~ .cards #selector-2,
	#item-3:checked ~ .cards #selector-3{
    transform: translateX(0) scale(1);
    z-index: 1;
	}

}

.contenedorPadre {
	display: flex;
	margin: 20px;
	padding: 10px;
}
.contenedores {
	margin: 0 10px;
}
.contUno {
	width: 30%;
	grid-area: primero;
}

.contDos {
	width: 50%;
	grid-area: segundo;
}
.subtitulo {
	text-align: center;
	font-size: 25px;
}
.imagenHome {
	margin-top: 20px;
	width: 100%;
	height: 250px;
	grid-area: fotomain;
}
.parraCorto {
	margin-top: 40px;
	width: auto;
	grid-area: corto;
}
.ultimoP {
	grid-area: ultimo;
}
.contTres {
	grid-area: grafico;
}
.grafico {
	width: 200px;
	height: 190px;
	margin: 10px;
	border: 1px solid black;
	border-radius: 2px;
}
footer {
	margin: 20px;
	padding: 20px;
	grid-area: footer;
	p {
		text-align: center;
		grid-area: fin;
	}
	.hijoUno {
		width: 50%;
		grid-area: hijoUno;
	}
	.hijoDos {
		grid-area: hijoDos;
	}
}
.contenedorFlex {
	display: flex;
}
.piePadre {
	margin: 20px;
	padding: 20;
}
.pieHijo {
	margin: 20px;
	padding: 20;
}
.NosotrosContenerHijo {
	display: flex;
	margin: 20px;
	padding: 20px;
}
.fotosNosotros {
	display: flex;
}
.fotosHijas {
	border: 1px solid burlywood;
	margin: 0 5px;
	width: 180px;
	height: 200px;
}

h2 {
	text-align: center;
	margin: 20px;
	padding: 20px;
}
.comboLocales {
	margin-top: 30px;
}
.lorenSucursales {
	margin-top: 60%;
}
.contenedorSucursales {
	display: flex;
	font-size: 40;
}


.contenedorFormulario {
	display: flex;
	justify-content: center;
	align-items: center;
}
.formulario {
	border: 1px solid #ccc;
	padding: 20px;
	width: 400px;
	grid-area: formulario;
}
#mensaje {
	overflow: scroll;
	resize: none;
}
.lorenFormulario {
	margin: 25px;
	padding: 25px;
	grid-area: LorFormulario;
}

@media (max-width:500px) {
	.gridPadre {
		display: grid;
		grid-template-areas: "header" "segundo" "ultimo" "footer";
	}
	.piePadre {
		display: grid;
		grid-template-areas: "hijoUno" "hijoDos" "fin";
	}
	.contUno {
		display: none;
	}
	.contTres {
		display: none;
	}
	.contenedorFormulario {
		display: grid;
		grid-template-areas: "header" "formulario" "footer";
	}
	.lorenFormulario {
		display: none;
	}
	.titulo{
		display: none;
	}
	#search{
		display: none;
	}
}
@media (min-Width:501px) and (max-width:900px) {
	.gridPadre {
		display: grid;
		grid-template-areas: "header header" "titulo titulo" "primero segundo" "primero segundo" "primero segundo" "ultimo ultimo" "footer footer";
	}
	.contTres {
		display: none;
	}
	.contenedorFormulario {
		display: grid;
		grid-template-areas: "header" "formulario" "footer";
	}
	.lorenFormulario {
		display: none;
	}
}
@media (min-width: 901px) {
	.gridPadre {
		display: grid;
		grid-template-areas: "header header header" "titulo titulo titulo" "primero segundo grafico" "primero segundo grafico" "primero segundo grafico" "ultimo ultimo ultimo" "footer footer footer";
	}
}
