@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
$background-color_1: whitesmoke;
$footer-color-up: #a2a2a2;
$footer-color-down: white;
$font-family :'Libre Baskerville';

/*medias*/
* {
	margin: 0;
	padding: 0;
	font-family: $font-family;

}
body {
	background-color: $background-color_1;
}

/* cabecera o header*/
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	box-shadow: 0 4px 25px -22px black;
	margin: 20px;	
	grid-area: header;
	z-index: 1;
	

	.header-content{
		max-width: 1200px;
		margin: auto;
		display: flex;
		justify-content: space-between;
		position: sticky;
	}

	.logo{
		
		height: 80px;
		display: flex;
		justify-content: center;
		align-items: center;
		letter-spacing: 8px ;
		font-size: 1.8em;
		font-weight: bold;

		a{
			text-decoration: none;
			font-family: $font-family;
			color: #3c3c3c;
		}
	}

	.menu{
		height: 80px;
		
		nav{
			height: 100%;
			
			ul{
				height: 100%;
				display: flex;
				list-style: none;

				li{
					height: 100%;
					margin: 0px 20px;
					display: flex;
					justify-content: center;
					align-items: center;
					position: relative;

					a{
						text-decoration: none;

						i{
							display: none;
						}
					}
					a:hover{
						color: #8199e1;
					}

				}
				.menu-selected:before{
					content:'' ;
					width: 100%;
					height: 4px;
					background-color: #c4302b;
					position: absolute;
					top: 0;
					left: 0;
			
				}

			}
		}

		.text_menu_selected{
			color: #c4302b;
		}
	}

	#icon-menu{
		width: 50px;
		height: 50px;
		position: absolute;
		right: 20px;
		display: flex;
		top: 16px;
		padding: 10px;
		font-size: 20px;
		background: #e7e2e2fa;
		border-radius: 100%;
		color: #787878;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		display: none;
	}
	#icon-menu:hover{
		opacity: 0.8;
	}
}

/* fin a header o cabecera*/

/* secciones del main y principal*/
.container-all{

	margin-top: 15px;
	

	/* seccion 1*/
	.contenedor-uno{

		width: 100%;
		height: 500px;
		position: relative;
		margin-top: 110px;
		
		background-image: url(../images/image1.jpeg);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		
		.contUno{
			max-width: 800px;
			height: 500px;
			margin: auto;
			text-align:center;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: relative;
			z-index: 1;
	
			h2{
				
				font-size: 35px;
				font-weight: 500;
				color: #fff;
				text-align: center;
				margin-bottom: 25px;
			}
			p{
				color: white;
				font-size: 20px;
				font-weight: 300;
			}
		}
	}
	.contenedor-uno:before{
		content: '';
		width: 100%;
		height: 100%;
		background: rgba(38, 172, 255, 0.5);
		position: absolute;
		top: 0;
		left: 0;
	}


	.contenedor-2{

		width: 1200px;
		margin: auto;
		margin-top: 120px;
		display: flex;
		justify-content: center;


		article{
			width: 100%;
			padding: 20px;
			padding-bottom: 40px;
			box-shadow: -10px 0 20px -30px black;
			border-radius: 6px;
			position: relative;
			overflow: hidden;
			h1{
				margin-top: 20px;
				font-size: 40px;
				font-weight: 40px;
			}
			p{
				margin-top: 20px;
				font-size: 18px;
				color: #3c3c3c;
			}
			img{
				width: 100%;
				margin-top: 20px;
				border-radius: 2px;
			}
		}

		article:before{
			content: '';
			width: 100%;
			height: 6px;
			position: absolute;
			top: 0;
			left: 0;
			background: #649bb2;
		}

		.contenedor-aside {
			aside {
				width: 320px;
				border-radius: 6px;
				box-shadow: 0 0 20px -20px black;
				overflow: hidden;
				margin-left: 20px;
				margin-bottom: 20px;
				padding-bottom: 15px;
		
				img{
					width: 100%;
				}
		
				h2,p,a{
					margin-top: 20px;
					padding: 0px 20px;
				}
		
				button{
					margin: 20px;
					
					padding: 10px 50px;
					font-size: 16px;
					background: #8fa5e4;
					border: none;
					color: #fff;
					cursor: pointer;
					border-radius: 6px;
				}
		
				button:hover{
					opacity: 0.9;
				}
		
			}
		
		}


	}

	main {

		margin: 85px;
		padding: 20px;
		
		h2{
			margin-bottom: 20px;
		}
	
		.titulo {
			padding-top: 15px;
			text-align: center;
			grid-area: titulo;
		}
		
		.container__slider{
			max-width: 900px;
			height: 600px;
			margin: auto;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 30px 10px;
		}
	
		input[type=radio]{
			display: none;
		}
	
		.container{
			width: 100%;
			max-width: 700px;
			height: 100%;
			max-height: 400px;
			transform-style: preserve-3d;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	
		.cards{
			position: relative;
			width: 100%;
			height: 100%;
			
	
		}
	
		.card{
			position: absolute;
			width: 60%;
			height: 90%;
			left: 0;
			right: 0;
			margin: auto;
			cursor: pointer;
			transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1 );
		}
	
		.imgCard{
			width: 100%;
			height: 100%;
			border-radius: 10px;
			-o-object-fit: cover;
			object-fit: cover;
		}
	
		#item-2:checked ~ .cards #selector-1,
		#item-1:checked ~ .cards #selector-3,
		#item-3:checked ~ .cards #selector-2{
		transform: translateX(-40%) scale(0.8);
		opacity: 0.6;
		z-index: 0;
		}
	
		#item-3:checked ~ .cards #selector-1,
		#item-1:checked ~ .cards #selector-2,
		#item-2:checked ~ .cards #selector-3{
		transform: translateX(40%) scale(0.8);
		opacity: 0.6;
		z-index: 0;
		}
	
		#item-1:checked ~ .cards #selector-1,
		#item-2:checked ~ .cards #selector-2,
		#item-3:checked ~ .cards #selector-3{
		transform: translateX(0) scale(1);
		z-index: 1;
		}

		.containerSucursales{

			max-width: 1200;
			
			.contenedorMain{

				flex-wrap: wrap;

				.tarjetaMapa{
					margin-top: 20px;
					width: 800px;
					height: 500px;
					iframe{
						width: 100%;
					}
				}
			}


		}
			
		.contenedorFormulario{

			margin: 40px;
			.textoFormulario{
				margin-top: 40px;
				
			}

			.formulario {
				max-width: 400px; 
				margin: 0 auto; 
				border: 2px solid #ccc; 
				box-shadow: 0 4px 25px -22px black;
				
				.form-group {
					margin-bottom: 15px; 
					padding: 15px;

					label {
						display: block; 
						margin-bottom: 5px;
					}
					  
					input, textarea {
						width: 100%; 
						padding: 8px; 
						border: 1px solid #e4e2e2; 
					}
					
				}

			}

			h2{
				
				font-size: 35px;
				font-weight: 500;
				text-align: center;
				margin-bottom: 25px;
			}			  
		}

		.contenedorNosotros{
	
			
			max-width: 1200px;
			height: 600px;
			display: flex;
			justify-content: center;
			align-items: start;

			.contenedorNosotrosFV{
				
				height: auto;
				width: auto;
				max-width: 500px;
				max-height: 300px;
				margin: 10px;
				padding-bottom: 10px;
				
				img{
					height: auto;
					width: auto;
					max-height: 600px;
					max-width: 400px;
					padding: 10px;
				}
			}
			
			.contenedor1{
				
				flex-direction: column;	
				
				iframe{
					padding-top: 20px;
				}
			}

			
			.contenedornoctrosMV{
				
				width: 800px;
				height: 250px;
				
		
			}  
			
				  
			  
		}
	
	}

	.tituloNosotros{
		text-align: center;
		padding-top: 90px;
	}

}

/* fin secciones del main y principal*/

/*pie de pagina*/

.container-footer{
	width: 100%;
	padding: 30px 0;
	margin-top: 20px;
	text-decoration: red;
	footer{
		max-width: 1200px;
		margin: auto;

		.logo-footer{
			text-align: center ;
	
			img{
				width: 150px;
			}
		}
		.redes-footer{
			display: flex;
			justify-content: center;
			margin-top: 15px;

			.icon-redes-footer{
				font-size: 30px;
				margin: 18px;
				background: #efefef;
				width: 50px;
				height: 50px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 100%;
				color: #a2a2a2;
			}

			.fa-facebook:hover{
				background: #41579a;

				color: $footer-color-down;
			}

			.fa-youtube:hover{
				background: #c4302b;
				color: $footer-color-down;
			}

			.fa-instagram:hover{
				background: linear-gradient(to top right, #FCDE30, #E9712A, #D2313B, #AE4198, #7540A1, #5443A8);
				color: $footer-color-down;
			}
		}

		hr{
			margin-top: 20px;
			border: none;
			height: 2px;
			background: #a8a8;
		}

	}

	h4{
		text-align: center;
		margin-top: 20px;
		color: $footer-color-up;
	}


}

/* fin pie de pagina*/

/* medias querys*/

@media screen and (max-width: 1220px){
	.contenedor-2, .containerSucursales, .nosotrosmain,
	.header-content, .container-footer footer{
		max-width: 100%;
		padding: 0 20px;
		
	}

	.header-content{
		max-width: 98%;
	}

	.contenedor-aside{

		aside{
			max-width: 300px;
			margin: 10px;
		}	
	}
	.container-all{

		main{

			max-width: 1200px;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;

			.tarjeraMain{
				justify-content: space-around;
				.tarjetacombo{
					max-width: 776px;
					width: 100%;
				}

				.mapa{
				
					width: 100%;
					height: 100vh;
				}
			}
			
			
		}
		.clasemaingaleria{
			padding-top: 90px;
			display: block;
			max-width: 100%;
		}
		.nosotrosmain{

			width: 100%;
			
			
			.contenedorNosotros{
				max-width: 1020px;
				width: 100%;
				
				
			}
		}
		
	}
}

@media screen and (max-width: 1020px){

	.container-all{
		transition: all 300ms cubic-bezier(1,0,0,1);

		main{
			max-width: 1020px;
			margin: 2px;
			padding-top: 90px;
			display: flex;
			max-width: 100%;

			
			.tarjeraMain{

				.tarjetacombo{
					width: 100%;
				}

				.mapa{
				
					width: 100%;
					height: 100vh;
				}
			}
			
			.contenedorNosotros{
				max-width: 1020px;
				width: 100%;
				height: 100%;
				// padding-right: 10px;
				margin: auto;
				display: flex;
				justify-content: center;
				margin-bottom: 250px;


				.contenedornoctrosMV{
				width: 100%;
				height: 100%;
				
				}

				.contenedorNosotrosFV{
				width: 100%;
				height: 100%;
				
				

				img{
					width: 100%;
					
					padding-bottom: 10px;
					margin: auto
				}
				}
			}

		}
	}

	.contenedor-2{
	
		width: 100%;
		flex-direction: column;
	
		article{
			box-shadow: 0 0 0 0;
		}

		.contenedor-aside{
			display: flex;
			justify-content: center;
			align-items: start;
			margin-right: 50px;
			top:0;
				
			aside{
				max-width: 250px;
				margin: 10px;

				img{
					margin-top: 10px;
				}
			}
		}
	}
}

@media screen and (max-width: 780px){

	.container-all{
		transition: all 300ms cubic-bezier(1,0,0,1);

		main{
			
			padding-top: 90px;
			display: block;
			max-width: 100%;

			.tarjeraMain{

				flex-wrap: wrap;

				.mapa{
				
					width: 100%;
					height: 100vh;
	
				}
			}

			
			
			
		}
		.nosotrosmain{

			width: 100%;
			display: flex;
			justify-content: center;
			margin: 0px;

			.contenedorNosotros{
				
				width: 100%;
				height: 100%;
				display: inline-block;
				margin-bottom: 250px;


				.contenedornoctrosMV{
					width: 100%;
					height: 100%;
					display: block;
					margin: auto;
				}

				.contenedorNosotrosFV{
					width: 100%;
					height: 100%;
					display: block;

					img{
						width: 100%;
						display: block;
						padding-bottom: 10px;
						margin: auto
					}
				}
			}

		}
		.clasemaingaleria, .contactomain, .sucursalmain{
			width: 100%;
			height: 100%;
			display: inline-block;
			margin-bottom: 250px;
			margin: 0px;
		}
		
	}

	.move-container-all{
		transform: translateX(300px);
	}

	header{

		.menu{
			width: 0px;
			height: 100vh;
			position: fixed;
			top: 80px;
			left: 0;
			background: $footer-color-down;
			overflow: hidden;
			transform: translateX(-350px);
			box-shadow: 10px 0 20px -25px black;
			transition: all 300ms cubic-bezier(1,0,0,1);
	
			nav{
				ul{
					flex-direction: column;
	
					li{
						max-width: 200px;
						height: 40px;
						justify-content: flex-start;
	
						a{
							margin-top: 25px;
							display: flex;
							justify-content: left;
							align-items: left;

							i{
								width: 20px;
								display: inline-block;
								margin-right: 10px;
								color: #8c9ed5;
							}
							
						}
					}
				}
			}		
		}
		.show-lateral{
			width: 300px;
			transform: translateX(0px);
			background: $footer-color-down;
		}

		.menu-selected:before{
			width: 0;
		}
		#icon-menu{
			display: flex;
			}
		

	}

	.contenedor-2{
		.contenedor-aside{
			flex-wrap: wrap;
			margin: 0;
			
		}
	}

}

/* fin medias querys*/